name: Build 2.20 on Linux ARM64

on:
  workflow_dispatch: # Allows manual trigger from the Actions tab

jobs:
  build-job:
    # Uses the GitHub-hosted Ubuntu ARM64 runner
    runs-on: ubuntu-22.04-arm 

    steps:
      - name: Checkout branch 2.20
        uses: actions/checkout@v4
        with:
          # This forces the action to pull branch 2.20 
          # regardless of what you select in the "Run workflow" dropdown
          ref: '2.20'

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          architecture: 'arm64'

      - name: Print Python Info
        run: |
          echo "Python Path:"
          which python
          echo "Executable Path:"
          python -c "import sys; print(sys.executable)"
          echo "Architecture:"
          uname -m

      - name: Set up Bazel (Bazelisk)
        uses: bazelbuild/setup-bazelisk@v3

      - name: Verify Bazel Installation
        run: |
          bazel --version
          # This confirms the architecture of the bazel binary
          file $(which bazel)
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential g++
          sudo apt-get install -y zlib1g-dev libssl-dev python3-dev g++-18 

      # - name: Debug clang configuration
      #   run: |
      #    clang-18 -v -x c++ /dev/null 2>&1 | grep -i "include"
      #    dpkg -L libc++-18-dev | grep include | head -20

      - name: Run build script
        run: |
          # Ensure the script is executable
          pwd
          chmod +x .github/workflows/linux_arm64_build.sh
          # Execute the script
          bash .github/workflows/linux_arm64_build.sh
